USE [master]
GO
/****** Object:  Database [RailwayInformationDesk]    Script Date: 06.02.2026 11:09:23 ******/
CREATE DATABASE [RailwayInformationDesk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RailwayInformationDesk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RailwayInformationDesk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RailwayInformationDesk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RailwayInformationDesk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RailwayInformationDesk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RailwayInformationDesk]
GO
/****** Object:  Table [dbo].[ActualSchedule]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActualSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TripInstanceId] [int] NOT NULL,
	[StopId] [int] NOT NULL,
	[ActualArrivalTime] [datetime2](7) NULL,
	[ActualDepartureTime] [datetime2](7) NULL,
	[ActualPlatform] [nvarchar](20) NULL,
	[DelayMinutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[DepartureStationId] [int] NOT NULL,
	[ArrivalStationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleTemplates]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[TrainTypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DaysOfWeek] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleTemplateStops]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleTemplateStops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[StationId] [int] NOT NULL,
	[StopOrder] [int] NOT NULL,
	[ArrivalTime] [time](7) NULL,
	[DepartureTime] [time](7) NULL,
	[Platform] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainTypes]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripInstances]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripInstances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[TripDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.02.2026 11:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[StationId] [int] NULL,
	[FullName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActualSchedule] ON 

INSERT [dbo].[ActualSchedule] ([Id], [TripInstanceId], [StopId], [ActualArrivalTime], [ActualDepartureTime], [ActualPlatform], [DelayMinutes]) VALUES (8, 54, 71, CAST(N'2026-02-06T10:15:00.0000000' AS DateTime2), CAST(N'2026-02-06T10:25:00.0000000' AS DateTime2), N'3', 15)
SET IDENTITY_INSERT [dbo].[ActualSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [Name], [DepartureStationId], [ArrivalStationId]) VALUES (1, N'Екатеринбург > Новосибирск', 5, 6)
INSERT [dbo].[Routes] ([Id], [Name], [DepartureStationId], [ArrivalStationId]) VALUES (2, N'Екатеринбург > Омск', 5, 7)
INSERT [dbo].[Routes] ([Id], [Name], [DepartureStationId], [ArrivalStationId]) VALUES (3, N'Екатеринбург > Красноярск', 5, 8)
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleTemplates] ON 

INSERT [dbo].[ScheduleTemplates] ([Id], [RouteId], [TrainTypeId], [IsActive], [DaysOfWeek]) VALUES (1, 1, 1, 1, N'1110111')
INSERT [dbo].[ScheduleTemplates] ([Id], [RouteId], [TrainTypeId], [IsActive], [DaysOfWeek]) VALUES (2, 1, 2, 1, N'1010101')
INSERT [dbo].[ScheduleTemplates] ([Id], [RouteId], [TrainTypeId], [IsActive], [DaysOfWeek]) VALUES (3, 1, 3, 1, N'1111100')
SET IDENTITY_INSERT [dbo].[ScheduleTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleTemplateStops] ON 

INSERT [dbo].[ScheduleTemplateStops] ([Id], [TemplateId], [StationId], [StopOrder], [ArrivalTime], [DepartureTime], [Platform]) VALUES (1, 1, 5, 0, NULL, CAST(N'06:00:00' AS Time), N'1')
INSERT [dbo].[ScheduleTemplateStops] ([Id], [TemplateId], [StationId], [StopOrder], [ArrivalTime], [DepartureTime], [Platform]) VALUES (2, 1, 6, 3, CAST(N'08:00:00' AS Time), NULL, N'2')
INSERT [dbo].[ScheduleTemplateStops] ([Id], [TemplateId], [StationId], [StopOrder], [ArrivalTime], [DepartureTime], [Platform]) VALUES (3, 2, 5, 0, NULL, CAST(N'06:00:00' AS Time), N'1')
SET IDENTITY_INSERT [dbo].[ScheduleTemplateStops] OFF
GO
SET IDENTITY_INSERT [dbo].[Stations] ON 

INSERT [dbo].[Stations] ([Id], [Name], [Region], [City]) VALUES (1, N'Москва Курская', N'Московская область', N'Москва')
INSERT [dbo].[Stations] ([Id], [Name], [Region], [City]) VALUES (2, N'Санкт-Петербург', N'Ленинградская область', N'Санкт-Петербург1')
INSERT [dbo].[Stations] ([Id], [Name], [Region], [City]) VALUES (3, N'Нижний Новгород', N'Нижегородская область', N'Нижний Новгород')
SET IDENTITY_INSERT [dbo].[Stations] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainTypes] ON 

INSERT [dbo].[TrainTypes] ([Id], [Name]) VALUES (2, N'Пассажирский')
INSERT [dbo].[TrainTypes] ([Id], [Name]) VALUES (5, N'Пригородный')
INSERT [dbo].[TrainTypes] ([Id], [Name]) VALUES (1, N'Скорый1')
SET IDENTITY_INSERT [dbo].[TrainTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[TripInstances] ON 

INSERT [dbo].[TripInstances] ([Id], [TemplateId], [TripDate]) VALUES (1, 1, CAST(N'2021-02-07' AS Date))
INSERT [dbo].[TripInstances] ([Id], [TemplateId], [TripDate]) VALUES (51, 1, CAST(N'2026-02-05' AS Date))
INSERT [dbo].[TripInstances] ([Id], [TemplateId], [TripDate]) VALUES (54, 1, CAST(N'2026-02-06' AS Date))
SET IDENTITY_INSERT [dbo].[TripInstances] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role], [StationId], [FullName]) VALUES (1, N'0', N'0', N'Администратор', NULL, N'Иванов Иван Иванович1')
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role], [StationId], [FullName]) VALUES (2, N'1', N'1', N'Дежурный', 4, N'Петров Петр Петроович')
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role], [StationId], [FullName]) VALUES (3, N'dispatcher2', N'pass123', N'Дежурный', 2, N'Петров Игорь Петроович')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_TemplateStops_Template_StopOrder]    Script Date: 06.02.2026 11:09:23 ******/
ALTER TABLE [dbo].[ScheduleTemplateStops] ADD  CONSTRAINT [UQ_TemplateStops_Template_StopOrder] UNIQUE NONCLUSTERED 
(
	[TemplateId] ASC,
	[StopOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Stations__737584F684790B9C]    Script Date: 06.02.2026 11:09:23 ******/
ALTER TABLE [dbo].[Stations] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TrainTyp__737584F622384B0B]    Script Date: 06.02.2026 11:09:23 ******/
ALTER TABLE [dbo].[TrainTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TripInstances_Template_Date]    Script Date: 06.02.2026 11:09:23 ******/
ALTER TABLE [dbo].[TripInstances] ADD  CONSTRAINT [UQ_TripInstances_Template_Date] UNIQUE NONCLUSTERED 
(
	[TemplateId] ASC,
	[TripDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BA090AE71]    Script Date: 06.02.2026 11:09:23 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleTemplates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_FullName]  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[ActualSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ActualSchedule_Stop] FOREIGN KEY([StopId])
REFERENCES [dbo].[ScheduleTemplateStops] ([Id])
GO
ALTER TABLE [dbo].[ActualSchedule] CHECK CONSTRAINT [FK_ActualSchedule_Stop]
GO
ALTER TABLE [dbo].[ActualSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ActualSchedule_TripInstance] FOREIGN KEY([TripInstanceId])
REFERENCES [dbo].[TripInstances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActualSchedule] CHECK CONSTRAINT [FK_ActualSchedule_TripInstance]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_ArrivalStation] FOREIGN KEY([ArrivalStationId])
REFERENCES [dbo].[Stations] ([Id])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_ArrivalStation]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_DepartureStation] FOREIGN KEY([DepartureStationId])
REFERENCES [dbo].[Stations] ([Id])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_DepartureStation]
GO
ALTER TABLE [dbo].[ScheduleTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleTemplates_Route] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([Id])
GO
ALTER TABLE [dbo].[ScheduleTemplates] CHECK CONSTRAINT [FK_ScheduleTemplates_Route]
GO
ALTER TABLE [dbo].[ScheduleTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleTemplates_TrainType] FOREIGN KEY([TrainTypeId])
REFERENCES [dbo].[TrainTypes] ([Id])
GO
ALTER TABLE [dbo].[ScheduleTemplates] CHECK CONSTRAINT [FK_ScheduleTemplates_TrainType]
GO
ALTER TABLE [dbo].[ScheduleTemplateStops]  WITH CHECK ADD  CONSTRAINT [FK_TemplateStops_Station] FOREIGN KEY([StationId])
REFERENCES [dbo].[Stations] ([Id])
GO
ALTER TABLE [dbo].[ScheduleTemplateStops] CHECK CONSTRAINT [FK_TemplateStops_Station]
GO
ALTER TABLE [dbo].[ScheduleTemplateStops]  WITH CHECK ADD  CONSTRAINT [FK_TemplateStops_Template] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ScheduleTemplates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleTemplateStops] CHECK CONSTRAINT [FK_TemplateStops_Template]
GO
ALTER TABLE [dbo].[TripInstances]  WITH CHECK ADD  CONSTRAINT [FK_TripInstances_Template] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[ScheduleTemplates] ([Id])
GO
ALTER TABLE [dbo].[TripInstances] CHECK CONSTRAINT [FK_TripInstances_Template]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Station] FOREIGN KEY([StationId])
REFERENCES [dbo].[Stations] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Station]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [CHK_Routes_DifferentStations] CHECK  (([DepartureStationId]<>[ArrivalStationId]))
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [CHK_Routes_DifferentStations]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Users_Role_Station] CHECK  (([Role]=N'Дежурный' AND [StationId] IS NOT NULL OR [Role]<>N'Дежурный' AND [StationId] IS NULL))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Users_Role_Station]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]=N'Пользователь' OR [Role]=N'Дежурный' OR [Role]=N'Администратор'))
GO
USE [master]
GO
