USE [master]
GO
/****** Object:  Database [Никитин_Железнодорожная_Система]    Script Date: 06.02.2026 11:10:43 ******/
CREATE DATABASE [Никитин_Железнодорожная_Система]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Никитин_Железнодорожная_Система', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Никитин_Железнодорожная_Система.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Никитин_Железнодорожная_Система_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Никитин_Железнодорожная_Система_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Никитин_Железнодорожная_Система].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Никитин_Железнодорожная_Система]
GO
/****** Object:  Table [dbo].[ГИД]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГИД](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Экземпляр_рейса_Id] [int] NOT NULL,
	[Остановка_Id] [int] NOT NULL,
	[Фактическое_время_прибытия] [datetime2](7) NULL,
	[Фактическое_время_отправления] [datetime2](7) NULL,
	[Фактическая_платформа] [nvarchar](20) NULL,
	[Задержка_минут] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Маршруты]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Маршруты](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](200) NOT NULL,
	[Станция_отправления_Id] [int] NOT NULL,
	[Станция_назначения_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Остановки_шаблонов]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Остановки_шаблонов](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Шаблон_Id] [int] NOT NULL,
	[Станция_Id] [int] NOT NULL,
	[Порядок_остановки] [int] NOT NULL,
	[Время_прибытия] [time](7) NULL,
	[Время_отправления] [time](7) NULL,
	[Платформа] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](100) NOT NULL,
	[Роль] [nvarchar](50) NOT NULL,
	[ФИО] [nvarchar](150) NOT NULL,
	[Станция_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Станции]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Станции](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Город] [nvarchar](100) NOT NULL,
	[Регион] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы_поездов]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы_поездов](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Шаблоны_расписаний]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Шаблоны_расписаний](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Маршрут_Id] [int] NOT NULL,
	[Тип_поезда_Id] [int] NOT NULL,
	[Активен] [bit] NOT NULL,
	[Дни_недели] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Экземпляры_рейсов]    Script Date: 06.02.2026 11:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экземпляры_рейсов](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Шаблон_Id] [int] NOT NULL,
	[Дата_рейса] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Остановки_шаблонов_Уникальность]    Script Date: 06.02.2026 11:10:43 ******/
ALTER TABLE [dbo].[Остановки_шаблонов] ADD  CONSTRAINT [UQ_Остановки_шаблонов_Уникальность] UNIQUE NONCLUSTERED 
(
	[Шаблон_Id] ASC,
	[Порядок_остановки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Экземпляры_рейсов_Уникальность]    Script Date: 06.02.2026 11:10:43 ******/
ALTER TABLE [dbo].[Экземпляры_рейсов] ADD  CONSTRAINT [UQ_Экземпляры_рейсов_Уникальность] UNIQUE NONCLUSTERED 
(
	[Шаблон_Id] ASC,
	[Дата_рейса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Шаблоны_расписаний] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[ГИД]  WITH CHECK ADD  CONSTRAINT [FK_ГИД_Остановка] FOREIGN KEY([Остановка_Id])
REFERENCES [dbo].[Остановки_шаблонов] ([Id])
GO
ALTER TABLE [dbo].[ГИД] CHECK CONSTRAINT [FK_ГИД_Остановка]
GO
ALTER TABLE [dbo].[ГИД]  WITH CHECK ADD  CONSTRAINT [FK_ГИД_Экземпляр_рейса] FOREIGN KEY([Экземпляр_рейса_Id])
REFERENCES [dbo].[Экземпляры_рейсов] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ГИД] CHECK CONSTRAINT [FK_ГИД_Экземпляр_рейса]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [FK_Маршруты_Станция_назначения] FOREIGN KEY([Станция_назначения_Id])
REFERENCES [dbo].[Станции] ([Id])
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [FK_Маршруты_Станция_назначения]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [FK_Маршруты_Станция_отправления] FOREIGN KEY([Станция_отправления_Id])
REFERENCES [dbo].[Станции] ([Id])
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [FK_Маршруты_Станция_отправления]
GO
ALTER TABLE [dbo].[Остановки_шаблонов]  WITH CHECK ADD  CONSTRAINT [FK_Остановки_шаблонов_Станция] FOREIGN KEY([Станция_Id])
REFERENCES [dbo].[Станции] ([Id])
GO
ALTER TABLE [dbo].[Остановки_шаблонов] CHECK CONSTRAINT [FK_Остановки_шаблонов_Станция]
GO
ALTER TABLE [dbo].[Остановки_шаблонов]  WITH CHECK ADD  CONSTRAINT [FK_Остановки_шаблонов_Шаблон] FOREIGN KEY([Шаблон_Id])
REFERENCES [dbo].[Шаблоны_расписаний] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Остановки_шаблонов] CHECK CONSTRAINT [FK_Остановки_шаблонов_Шаблон]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Станция] FOREIGN KEY([Станция_Id])
REFERENCES [dbo].[Станции] ([Id])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Станция]
GO
ALTER TABLE [dbo].[Шаблоны_расписаний]  WITH CHECK ADD  CONSTRAINT [FK_Шаблоны_расписаний_Маршрут] FOREIGN KEY([Маршрут_Id])
REFERENCES [dbo].[Маршруты] ([Id])
GO
ALTER TABLE [dbo].[Шаблоны_расписаний] CHECK CONSTRAINT [FK_Шаблоны_расписаний_Маршрут]
GO
ALTER TABLE [dbo].[Шаблоны_расписаний]  WITH CHECK ADD  CONSTRAINT [FK_Шаблоны_расписаний_Тип_поезда] FOREIGN KEY([Тип_поезда_Id])
REFERENCES [dbo].[Типы_поездов] ([Id])
GO
ALTER TABLE [dbo].[Шаблоны_расписаний] CHECK CONSTRAINT [FK_Шаблоны_расписаний_Тип_поезда]
GO
ALTER TABLE [dbo].[Экземпляры_рейсов]  WITH CHECK ADD  CONSTRAINT [FK_Экземпляры_рейсов_Шаблон] FOREIGN KEY([Шаблон_Id])
REFERENCES [dbo].[Шаблоны_расписаний] ([Id])
GO
ALTER TABLE [dbo].[Экземпляры_рейсов] CHECK CONSTRAINT [FK_Экземпляры_рейсов_Шаблон]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [CK_Маршруты_Разные_станции] CHECK  (([Станция_отправления_Id]<>[Станция_назначения_Id]))
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [CK_Маршруты_Разные_станции]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [CK_Пользователи_Дежурный_Станция] CHECK  (([Роль]=N'Дежурный' AND [Станция_Id] IS NOT NULL OR [Роль]<>N'Дежурный' AND [Станция_Id] IS NULL))
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [CK_Пользователи_Дежурный_Станция]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [CK_Пользователи_Роли] CHECK  (([Роль]=N'Пользователь' OR [Роль]=N'Дежурный' OR [Роль]=N'Администратор'))
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [CK_Пользователи_Роли]
GO
USE [master]
GO
